<main>
    <section class="rp-mobile">
        <div class="img-container rp-logo-mobile"><img class="img-responsive" src="https://digital.returnpath.com/rpstatic/images/logos/rp-logo-white.svg"></div>
        <div class="img-container eh-logo-mobile"><img class="img-responsive" src="images/logo.svg"></div>
        <p>To reveal your super powers, please visit this site on a device that is at least 1100 pixels wide and 600 pixels tall.</p>
        <p><a href="https://returnpath.com/resources/" class="btn btn-yellow-hollow">Back to Resources</a></p>
    </section>
    <rp-section></rp-section>
</main>
